@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,100;1,200&family=Italianno&family=Libre+Baskerville:wght@400;700&display=swap');

:root{
  font-size: 16px;
}
html,
body {
  font-family: 'Archivo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
  width: fit-content !important;
}

* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

/* ultils */
.font-mali{
  font-family: 'Archivo', sans-serif !important;
}
.font-shi{
  font-family: 'Italianno', cursive !important;
}
.font-libre{
  font-family: 'Libre Baskerville', serif !important;
}
